#footer {
    background-color: var(--tedx-gray-dark);
    padding: 16px 0;
    position: relative;
}

#footer p {
    color: white;
}

.contacts {
    margin: 0 auto;
    max-width: 720px;
    padding: 0 42px;
    position: relative;
}

.contacts a {
    color: white;
    font-weight: 900;
}

.contacts dl {
    display: table;
    text-align: center;
}

.contacts dt {
    display: table-cell;
    float: none;
}

#beyound {
    background-color: white;
    border-top: solid var(--tedx-red) 2px;
    border-radius: 52px 52px 0 0;
    bottom: 0;
    font-size: 32px;
    font-weight: 900;
    position: fixed;
    right: 1vw;
    transform: translateY(100%);
    transition: 0.25s;
}

@media screen and (max-width: 800px) {
    .contacts dl {
        position: relative;
        width: 100%;
    }

    .contacts-info {
        margin: 32px 0;
    }

    #beyound {
        padding: 6vw;
    }
}

@media screen and (min-width: 801px) {
    .contacts dl {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        right: 42px;
        width: 30%;
    }

    #beyound {
        padding: 32px;
    }
}