#hero {
    background-image: linear-gradient(rgba(26, 26, 26, 1),
        rgba(26, 26, 26, 0.25)), url(../images/tedheroimage.png);

    background-position: bottom;
    background-size: cover;
    height: calc(100vh - 79px);
    min-height: 520px;
}

#hero .content {
    margin: 0 auto;
    max-width: 960px;
    padding: 32px;
    position: relative;
    top: calc(20vh - 75px);
}

#hero h1, .modal-window-content h1 {
    color: whitesmoke;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
    text-shadow: var(--tedx-red-dark) 2px 2px 0;
}

.join-btn {
    background-color: var(--tedx-red);
    border: none;
    border-radius: 2px;
    box-shadow: var(--tedx-red) 0 0 15px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    display: block;
    padding: 18px 72px;
    margin: 8px auto;
    transition: 0.1s;
}
  
.join-btn:hover, .join-btn:focus {
    background-color: var(--tedx-red-dark);
    box-shadow: var(--tedx-black) 2px 2px 0;
}

@media screen and (max-width: 800px) {
    #hero h1, .modal-window-content h1 {
        font-size: 10vw;
    }
}