@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
* {
    font-family: 'Inter', Arial, sans-serif; 
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --tedx-red: #e62b1e;
    --tedx-red-transparent: #e62b1e70;
    --tedx-red-dark: #b70220;
    --tedx-red-darker: #8f0025;
    --tedx-gray-dark: #1a1a1a;

    --title: 34px;
    --subtitle: 25px;
    --text: 16px;
}

@media screen and (max-width: 600px) {
    :root {
        --title: 6vw;
        --subtitle: 5vw;
        --text: 3.5vw;
    }
}

::-moz-selection {
    background: var(--tedx-red-dark);
    color: white;
}

::selection {
    background: var(--tedx-red-dark);
    color: white;
}

body {
    background-color: white;
    margin: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--tedx-red-dark);
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

h1, h2 {
    margin: 32px 0 16px 0;
    text-align: center;
}

h1 {
    font-size: var(--title);
    font-weight: 900;
}

h2 {
    font-size: var(--subtitle);
    font-weight: 800;
}

p {
    margin: 13px 0;
}

p, li {
    font-size: var(--text);
}

ul, ol {
    margin: 13px 0;
    min-width: 200px;
    padding: 16px;
}

.background-red {
    background-color: var(--tedx-red);
    color: whitesmoke;
}

.break {
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(20%, var(--tedx-red)), color-stop(80%, white));
    background: -o-linear-gradient(top, white 0%, var(--tedx-red) 20%, white 80%);
    background: linear-gradient(180deg, white 0%, var(--tedx-red) 20%, white 80%);
    border: none;
    border-radius: 2px;
    width: 3px;
}

.text-justify {
    text-align: justify;
}

.menu-locker {
    height: 100vh;
    overflow: hidden;
}

.shadow-gradient {
    background-repeat: repeat-x;
    background-size: contain;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
    height: 16px;
}

.shadow-gradient-black {
    background-image: url(../images/gradient.png);
}

.shadow-gradient-red {
    background-image: url(../images/gradient-red.png);
}

.popup-img:hover {
    -webkit-filter: drop-shadow(-5px 5px 0 var(--tedx-red));
            filter: drop-shadow(-5px 5px 0 var(--tedx-red));
    -webkit-transform: translate(5px, -5px);
        -ms-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
}

.svg-link {
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.svg-link-white {
    -webkit-filter: brightness(0) invert();
            filter: brightness(0) invert();
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.svg-link:hover {
    -webkit-filter: drop-shadow(-2px 0px 0 black);
            filter: drop-shadow(-2px 0px 0 black);
    -webkit-transform: rotateZ(360deg) scale(2);
        -ms-transform: rotate(360deg) scale(2);
            transform: rotateZ(360deg) scale(2);
}

.svg-link-white:hover  {
    -webkit-filter: brightness(0) invert() drop-shadow(-2px 0px 0 var(--tedx-red));
            filter: brightness(0) invert() drop-shadow(-2px 0px 0 var(--tedx-red));
    -webkit-transform: rotateZ(360deg) scale(2);
        -ms-transform: rotate(360deg) scale(2);
            transform: rotateZ(360deg) scale(2);
}

.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 13px 0;
}

.modal-window {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.scrollable-content {
    padding: 8px;
    max-height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: var(--tedx-red);
    border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar {
    width: 0.5rem;
}

.modal-window-content {
    background-color: whitesmoke;
    border-radius: 2px;
    max-width: 600px;
    padding: 1vw 1vw 1vw 2vw;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 100vh);
        -ms-transform: translate(-50%, 100vh);
            transform: translate(-50%, 100vh);
    width: 85%;
}

.modal-window-content :not(.links) a {
    color: black;
    font-weight: 900;
}

.text-link, .text-link2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--tedx-red)), to(var(--tedx-red)));
    background-image: -o-linear-gradient(var(--tedx-red), var(--tedx-red));
    background-image: linear-gradient(var(--tedx-red), var(--tedx-red));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;

    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.text-link:hover {
    background-size: 100% 2px;
    color: var(--tedx-red) !important;
}

.text-link2:hover {
    background-size: 100% 2px;
    text-shadow: var(--tedx-red) 0 0 5px;
}

.modal-window-content h1 {
    background-color: var(--tedx-red);
}

.field {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 64px;
}

.field p {
    text-align: center;
    font-weight: 700;
    padding: 0 8px 0 10px;
    width: 20%;
    min-width: 60px;
}

.form input {
    border-radius: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form .basic {
    border: inset 3px red;
    margin-right: 16px;
    padding: 8px 10px;
    width: 80%;
}

.form input[type=submit] {
    background-color: var(--tedx-red);
    border: solid 3px var(--tedx-red);
    border-radius: 2px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 700;
    padding: 8px 24px;
    margin: 4px 32px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.form input[type=submit]:hover {
    background-color: var(--tedx-red-dark);
    border: inset 3px red;
}

#close {
    background-color: var(--tedx-red);
    border: solid whitesmoke 2px;
    border-radius: 2px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    outline: none;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(0%, -45%);
        -ms-transform: translate(0%, -45%);
            transform: translate(0%, -45%);
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

#close:hover, #close:focus {
    background-color: var(--tedx-red-dark);
}

@-webkit-keyframes fading-in {
    from { opacity: 0; } 
    to { opacity: 1; }
}

@keyframes fading-in {
    from { opacity: 0; } 
    to { opacity: 1; }
}

@-webkit-keyframes fading-out {
    from { opacity: 1; } 
    to { opacity: 0; }
}

@keyframes fading-out {
    from { opacity: 1; } 
    to { opacity: 0; }
}

@-webkit-keyframes slide-in {
    70% {
        -webkit-filter: none;
                filter: none;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    100% {
        -webkit-filter: drop-shadow(-5px 5px 0 var(--tedx-red-dark));
                filter: drop-shadow(-5px 5px 0 var(--tedx-red-dark));
        -webkit-transform: translate(calc(-50% + 5px), calc(-50% - 5px));
                transform: translate(calc(-50% + 5px), calc(-50% - 5px));
    }
}

@keyframes slide-in {
    70% {
        -webkit-filter: none;
                filter: none;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    100% {
        -webkit-filter: drop-shadow(-5px 5px 0 var(--tedx-red-dark));
                filter: drop-shadow(-5px 5px 0 var(--tedx-red-dark));
        -webkit-transform: translate(calc(-50% + 5px), calc(-50% - 5px));
                transform: translate(calc(-50% + 5px), calc(-50% - 5px));
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-filter: drop-shadow(-5px 5px 0 var(--tedx-red-dark));
                filter: drop-shadow(-5px 5px 0 var(--tedx-red-dark));
        -webkit-transform: translate(calc(-50% + 5px), calc(-50% - 5px));
                transform: translate(calc(-50% + 5px), calc(-50% - 5px));
    }

    30% {
        -webkit-filter: none;
                filter: none;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    100% {
        -webkit-transform: translate(-50%, 100vh);
                transform: translate(-50%, 100vh);
    }
}

@keyframes slide-out {
    0% {
        -webkit-filter: drop-shadow(-5px 5px 0 var(--tedx-red-dark));
                filter: drop-shadow(-5px 5px 0 var(--tedx-red-dark));
        -webkit-transform: translate(calc(-50% + 5px), calc(-50% - 5px));
                transform: translate(calc(-50% + 5px), calc(-50% - 5px));
    }

    30% {
        -webkit-filter: none;
                filter: none;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    100% {
        -webkit-transform: translate(-50%, 100vh);
                transform: translate(-50%, 100vh);
    }
}