@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
* {
    font-family: 'Inter', Arial, sans-serif; 
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --tedx-red: #e62b1e;
    --tedx-red-transparent: #e62b1e70;
    --tedx-red-dark: #b70220;
    --tedx-red-darker: #8f0025;
    --tedx-gray-dark: #1a1a1a;

    --title: 34px;
    --subtitle: 25px;
    --text: 14px;
}

@media screen and (max-width: 600px) {
    :root {
        --title: 6vw;
        --subtitle: 5vw;
        --text: 3.5vw;
    }
}

body {
    background-color: white;
    margin: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--tedx-red-dark);
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

h1, h2 {
    margin: 32px 0 16px 0;
    text-align: center;
}

h1 {
    font-size: var(--title);
    font-weight: 900;
}

h2 {
    font-size: var(--subtitle);
    font-weight: 800;
}

p {
    margin: 13px 0;
}

p, li {
    font-size: var(--text);
}

ul, ol {
    margin: 13px 0;
    min-width: 200px;
    padding: 16px;
}

.break {
    background: linear-gradient(180deg, white 0%, var(--tedx-red) 20%, white 80%);
    border: none;
    border-radius: 2px;
    margin: 8px;
    width: 3px;
}

.text-justify {
    text-align: justify;
}

.menu-locker {
    height: 100vh;
    overflow: hidden;
}

.shadow-gradient {
    background-repeat: repeat-x;
    background-size: contain;
    image-rendering: pixelated;
    height: 16px;
}

.shadow-gradient-black {
    background-image: url(../images/gradient.png);
}

.shadow-gradient-red {
    background-image: url(../images/gradient-red.png);
}

.popup-img:hover {
    filter: drop-shadow(-5px 5px 0 var(--tedx-red));
    transform: translate(5px, -5px);
}

.svg-link {
    transition: 0.25s;
}

.svg-link:hover {
    filter: drop-shadow(-2px 0px 0 black);
    transform: rotateZ(360deg) scale(2);
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin: 13px 0;
}

.outline {
    text-shadow: var(--tedx-red) -1px -1px 0,
    var(--tedx-red) 1px -1px 0,
    var(--tedx-red) -1px 1px 0,
    var(--tedx-red) 1px 1px 0,
    var(--tedx-red-dark) 2px 2px 0 !important;
}