#tedx .flex-container, #team .flex-container, #sponsors .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1080px;
    padding: 4px 32px;
}

#tedx .flex-container img, #sponsors .flex-container img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#tedx div.content, #sponsors div.content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

#tedx div.content p, #sponsors div.content p {
    padding: 16px;
    min-width: 300px;
}

#team .flex-container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
}

#team .member {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 8px 32px 8px;
    min-width: 200px;
    padding: 0 8px;
}

#team .member p {
    text-align: center;
}

#team .image-wrapper img {   
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

#team .image-wrapper:hover > .image-wrapper-text {
    max-height: 50%;
}

#team .image-wrapper {
    margin: 0 auto;
    border-radius: 2px;
    position: relative;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    max-width: 300px;
}

#team .image-wrapper-text {
    background-color: var(--tedx-red-transparent);
    bottom: 0;
    border-radius: 0 0 2px 2px;
    color: white;
    font-weight: 900;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    width: 100%;
}

#team .image-wrapper-text p {
    font-size: 18px;
}

#photoshoot-bg {
    border-radius: 2px;
    background: url(../images/team/3.jpeg) no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0 16px;
    min-height: 400px;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    width: 300px;
}

#sponsors img {
    margin: 0 16px;
    min-width: 200px;
    width: 40%;
}

#volunteers-wrapper {
    -webkit-animation: paralax 20s ease-in-out infinite;
            animation: paralax 20s ease-in-out infinite;
    background: url(../images/bga.jpg);
    background-position: bottom;
    background-size: cover;
    color: white;
    text-shadow: black 0 2px 2px;
}

@-webkit-keyframes paralax {
    0% {
        background-position-x: 50px;
    }

    50% {
        background-position-x: -50px;
    }

    100% {
        background-position-x: 50px;
    }
}

@keyframes paralax {
    0% {
        background-position-x: 50px;
    }

    50% {
        background-position-x: -50px;
    }

    100% {
        background-position-x: 50px;
    }
}

#volunteers {
    text-align: right;
    width: 50%;
    white-space: nowrap;
}

#work {
    white-space: nowrap;
}

#work p::before{
    content: "\00A0—\00A0";
}